---
import Layout from "../layouts/Layout.astro";
import Sandbox from "../components/Sandbox.tsx";
---

<Layout title="P5js sandbox">
	<main>
		<Sandbox
			title="Draft"
			description="draft"
			disableStorage={false}
			initialCode={`
//@ts-check
function setup(){
	const canvas = createCanvas(100,100);
	canvas.parent("sketch");
	background(0);
}
function draw(){
	circle((1/sqrt(random())*50) - width/2,
	random(height),
	random(4))
}
`}
			client:only
		/>
	</main>
</Layout>

<style></style>
