---
import Layout from "../layouts/Layout.astro";
import Sandbox from "../components/Sandbox.tsx";
---

<Layout title="P5js sandbox">
	<main>
		<Sandbox
			title="Draft"
			description="draft"
			disableStorage={false}
			initialCode={`
// To learn more about this project visit
// https://github.com/ff6347/p5-code-sandbox
//
// Hint: This is the Monaco editor
// Hit F1 to open the command palette!
//
//@ts-check
let ff6347 = '#ff6347';
let complementaryColor;
function setup() {
	const canvas = createCanvas(100, 100);
	colorMode(HSB, 360, 100, 100, 100);
	canvas.parent('sketch');
	const bg = color(360);
	console.log(bg);
	background(bg);
	complementaryColor = color(
		(hue(ff6347) + 180) % 360,
		saturation(ff6347),
		brightness(ff6347)
	);
}
function draw() {
	if (frameCount % 2) {
		fill(ff6347);
	} else {
		fill(complementaryColor);
	}
	circle(
		(1 / sqrt(random())) * 50 - width / 2,
		random(height),
		random(4)
	);
}
`}
			client:only
		/>
	</main>
</Layout>

<style></style>
